@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<br />
<br />
<br />
<br />
<br />
<div class="container">
    <div class="row justify-content-center" style="font-size:60px;">
        <div class="col-7" style="font-size:60px;">
            <h1 class="text-light" style="font-family:'Matura MT Script Capitals'; justify-content:center; font-size:60px;">Grandmas Ol' Bakery</h1>
        </div>
    </div>
</div>
